.main {
width: 100%;
height: auto;
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
justify-self: center;
margin-top: 6%;
z-index: 20;
}
.main-textbox1 {
	background: rgba(160, 160, 160, 0.829);
	width: 50%;
	height: 15%;
	align-self: center;
	margin-bottom: 20%;
	margin-left: 5%;
	border-radius: 20px;
	align-items: center;
}
.main-textbox2 {
	background: rgba(3, 3, 3, 0.925);
	width: 20%;
	height: 18%;
	align-self: flex-end;
	margin-right: 5%;
	border-radius: 20px;
}
h4 {
	text-align: start;
	font-size: 18pt;
	color: black;
}
ul {
	text-align: left;
	list-style-type: none;
}
.main-textbox2 > button {
	background: #294068;
	width: 40%;
	height: 30%;
	position: relative;
	margin-left: 30%;
}
.main-textbox1 > button {
	background: #294068;
	width: 40%;
	height: 30%;
	position: relative;
	margin-left: 30%;
}
