// @import '../main.scss';

@media (min-width: 0px) and (max-width: 360px){
    @keyframes fadeInAnimation {
        0% {
            transform: translate(0,-1000px);
        }
        100% {
            transform: translate(0,0);
            
        }
    }
    .ArchStepperPage {
        width: auto;
        height: auto;
        background: rgb(255, 255, 255);
        overflow: hidden;
        margin: 0;
    }
    .stepperimg {
        width: 100%;
        z-index: -10;
        height: 100vh;
        position: fixed;
    }
    .archStepper {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .img-containerHome {
        margin-top: 10rem;
        z-index: 1;
    }
    .stepperPage {
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        margin-top: 43%;
        margin-bottom: 30px;
    }
    .stepperPage > h1 {
        width: 100%;
        height: 5%;
        text-align: center;
        font-size: 16pt;
        letter-spacing: .2rem;
    }
    #cardDeck {
        width: 100%;
        height: auto;
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 25%;
        justify-content: flex-start;
        align-items: center;
        animation: fadeInAnimation 1s  0s 1 normal ;
    }
    .stepperCard {
        width: 70vw;
        height: max(12rem);
        background: white;
        
    }
    .stepperCard1 {
        width: 65vw;
        height: max(24rem);
        background: white;
        
    }
    .stepperCard:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .stepperCard1:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .cardImg {
        height: 9rem;
    }
    .cardLink:hover {
        color: inherit;
    }
    .cardLink {
        width: auto;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        margin-bottom: 5%;
    
    }
    #cardTextList {
        display: flex;
        background: blue;
    }
    .cardTextList > h5 {
        text-align: left;
        margin: 0;
        padding: 0;
        font-size: 25pt;
    }
    .cardTextList > li {
        text-align: flex-start;
        list-style-type: disc;
    }
    .cardTextListTitle {
        text-align: flex-start;
        padding: 0;
        margin: 0;
        font-size: 12pt;
        margin-top: 2%;
    }
    #cardTitle {
     font-size: 10pt;
     color: black;
    }
    #cardText {
        font-size: 12pt;
        color: black;
        display: none;
    }
    #cardText1 {
        font-size: 12pt;
        color: black;
    }
    #cardBody {
        padding: 10px;
    }
    .videoCont {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        margin-bottom: 10%;
        margin-top: 24%;
        padding: 10px;
        display: none;
    }
    
    .isoBand {
        width: 70.5vw;
        background: white;
        height: 60px;
        z-index: 4;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
    }
    .ISO {
        width: 30px;
        height: 30px;
        display: flex;
    }
    .isoBand1 {
        width: 100%;
        background: white;
        height: 100px;
        z-index: 4;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px;
        border-radius: 10px;
    }
    .ISO1 {
        width: 30px;
        height: 30px;
        display: flex;
    }
    .ISO12 {
        width: 50px;
        height: 50px;
        margin-top: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .ISO11 {
        width: 30px;
        height: 30px;
        margin-top: 15px;
        border-radius: 10px;
    }
    .insulLink {
        width: 15px;
        height: 15px;
        margin-left: 10px;
    
    }
}
@media (min-width: 361px) and (max-width: 480px){
    @keyframes fadeInAnimation {
        0% {
            transform: translate(0,-1000px);
        }
        100% {
            transform: translate(0,0);
            
        }
    }
    .ArchStepperPage {
        width: auto;
        height: auto;
        background: rgb(255, 255, 255);
        overflow: hidden;
        margin: 0;
    }
    .stepperimg {
        width: 100%;
        z-index: -10;
        height: 100vh;
        position: fixed;
    }
    .archStepper {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .img-containerHome {
        margin-top: 10rem;
        z-index: 1;
    }
    .stepperPage {
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        margin-top: 43%;
        margin-bottom: 30px;
    }
    .stepperPage > h1 {
        width: 100%;
        height: 5%;
        text-align: center;
        font-size: 16pt;
        letter-spacing: .2rem;
    }
    #cardDeck {
        width: 100%;
        height: auto;
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 25%;
        justify-content: flex-start;
        align-items: center;
        animation: fadeInAnimation 1s  0s 1 normal ;
    }
    .stepperCard {
        width: 70vw;
        height: max(10rem);
        background: white;
        
    }
    .stepperCard1 {
        width: 65vw;
        height: max(24rem);
        background: white;
        
    }
    .stepperCard:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .stepperCard1:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .cardImg {
        height: 7rem;
    }
    .cardLink:hover {
        color: inherit;
    }
    .cardLink {
        width: auto;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        margin-bottom: 5%;
    
    }
    #cardTextList {
        display: flex;
        background: blue;
    }
    .cardTextList > h5 {
        text-align: left;
        margin: 0;
        padding: 0;
        font-size: 32pt;
    }
    .cardTextList > li {
        text-align: flex-start;
        list-style-type: disc;
    }
    .cardTextListTitle {
        text-align: flex-start;
        padding: 0;
        margin: 0;
        font-size: 14pt;
        margin-top: 2%;
    }
    #cardTitle {
     font-size: 12pt;
     color: black;
    }
    #cardText {
        font-size: 12pt;
        color: black;
        display: none;
    }
    #cardText1 {
        font-size: 12pt;
        color: black;
    }
    #cardBody {
        padding: 10px;
    }
    .videoCont {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        margin-bottom: 10%;
        margin-top: 24%;
        padding: 10px;
        display: none;
    }
    
    .isoBand {
        width: 70.5vw;
        background: white;
        height: 80px;
        z-index: 4;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
    }
    .ISO {
        width: 70px;
        height: 70px;
        display: flex;
    }
    .isoBand1 {
        width: 100%;
        background: white;
        height: 120px;
        z-index: 4;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px;
        border-radius: 10px;
    }
    .ISO1 {
        width: 65px;
        height: 65px;
        display: flex;
    }
    .ISO12 {
        width: 90px;
        height: 90px;
        margin-top: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .ISO11 {
        width: 65px;
        height: 65px;
        margin-top: 15px;
        border-radius: 10px;
    }
    .insulLink {
        margin-left: 10px;
    
    }
    
}
@media (min-width: 481px) and (max-width: 736px){
    @keyframes fadeInAnimation {
        0% {
            transform: translate(0,-1000px);
        }
        100% {
            transform: translate(0,0);
            
        }
    }
    .ArchStepperPage {
        width: auto;
        height: auto;
        background: rgb(255, 255, 255);
        overflow: hidden;
        margin: 0;
    }
    .stepperimg {
        width: 100%;
        z-index: -10;
        height: 100vh;
        position: fixed;
    }
    .archStepper {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .img-containerHome {
        margin-top: 10rem;
        z-index: 1;
    }
    .stepperPage {
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        margin-top: 22%;
        margin-bottom: 30px;
    }
    .stepperPage > h1 {
        width: 100%;
        height: 5%;
        text-align: center;
        font-size: 22pt;
        letter-spacing: .2rem;
    }
    #cardDeck {
        width: 100%;
        height: auto;
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 12%;
        justify-content: flex-start;
        align-items: center;
        animation: fadeInAnimation 1s  0s 1 normal ;
    }
    .stepperCard {
        width: 50vw;
        height: max(19rem);
        background: white;
        
    }
    .stepperCard1 {
        width: 50vw;
        height: max(20rem);
        background: white;
        
    }
    .stepperCard:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .stepperCard1:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .stepperCard2 {
        width: 50vw;
        height: max(18rem);
        background: white;
        
    }
    .stepperCard2:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .cardImg {
        height: 10rem;
    }
    .cardLink:hover {
        color: inherit;
    }
    .cardLink {
        width: auto;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        margin-bottom: 5%;
    
    }
    #cardTextList {
        display: flex;
        background: blue;
    }
    .cardTextList > h5 {
        text-align: left;
        margin: 0;
        padding: 0;
        font-size: 30pt;
    }
    .cardTextList > li {
        text-align: flex-start;
        list-style-type: disc;
    }
    .cardTextListTitle {
        text-align: flex-start;
        padding: 0;
        margin: 0;
        font-size: 16pt;
        margin-top: 2%;
    }
    #cardTitle {
     font-size: 16pt;
     color: black;
    }
    #cardText {
        font-size: 10pt;
        color: black;
    }
    #cardText1 {
        font-size: 10pt;
        color: black;
    }
    #cardBody {
        padding: 10px;
    }
    .videoCont {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        margin-bottom: 10%;
        margin-top: 24%;
        padding: 10px;
        display: none;
    }
    
    .isoBand {
        width: 70.5vw;
        background: white;
        height: 70px;
        z-index: 4;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
    }
    .ISO {
        width: 70px;
        height: 70px;
        display: flex;
    }
    .isoBand1 {
        width: 100%;
        background: white;
        height: 120px;
        z-index: 4;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px;
        border-radius: 10px;
    }
    .ISO1 {
        width: 65px;
        height: 65px;
        display: flex;
    }
    .ISO12 {
        width: 90px;
        height: 90px;
        margin-top: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .ISO11 {
        width: 65px;
        height: 65px;
        margin-top: 15px;
        border-radius: 10px;
    }
    .insulLink {
        margin-left: 10px;
        width: 20px;
        height: 20px;
    
    }
    
}
@media (min-width: 737px) and (max-width: 980px){
    @keyframes fadeInAnimation {
        0% {
            transform: translate(0,-1000px);
        }
        100% {
            transform: translate(0,0);
            
        }
    }
    .ArchStepperPage {
        width: auto;
        height: auto;
        background: rgb(255, 255, 255);
        overflow: hidden;
        margin: 0;
    }
    .stepperimg {
        width: 100%;
        z-index: -10;
        height: 100vh;
        position: fixed;
    }
    .archStepper {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .archStepper1 {
        width: 100%;
        height: 120vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .archStepper2 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .img-containerHome {
        margin-top: 10rem;
        z-index: 1;
    }
    .stepperPage {
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        margin-top: 20%;
        margin-bottom: 30px;
    }
    .stepperPage1 {
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        margin-top: 20%;
        margin-bottom: 30px;
    }
    .stepperPage2 {
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        margin-top: 20%;
        margin-bottom: 30px;
    }
    .stepperPage > h1 {
        width: 100%;
        height: 5%;
        text-align: center;
        font-size: 26pt;
        letter-spacing: .2rem;
    }
    #cardDeck {
        width: 100%;
        height: auto;
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 10%;
        justify-content: flex-start;
        align-items: center;
        animation: fadeInAnimation 1s  0s 1 normal ;
    }
    #cardDeck1 {
        width: 100%;
        height: auto;
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 10%;
        justify-content: flex-start;
        align-items: center;
        animation: fadeInAnimation 1s  0s 1 normal ;
    }
    #cardDeck2 {
        width: 100%;
        height: auto;
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 10%;
        justify-content: flex-start;
        align-items: center;
        animation: fadeInAnimation 1s  0s 1 normal ;
    }
    .stepperCard {
        width: 70vw;
        height: max(18rem);
        background: white;
        
    }
    .stepperCard1 {
        width: 65vw;
        height: max(20rem);
        background: white;
        
    }
    .stepperCard2 {
        width: 65vw;
        height: max(18rem);
        background: white;
        
    }
    .stepperCard:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .stepperCard1:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .stepperCard2:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .cardImg {
        height: 12rem;
    }
    .cardImg1 {
        height: 10rem;
    }
    .cardImg2 {
        height: 12rem;
    }
    .cardLink:hover {
        color: inherit;
    }
    .cardLink {
        width: auto;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        margin-bottom: 5%;
    
    }
    #cardTextList {
        display: flex;
        background: blue;
    }
    .cardTextList > h5 {
        text-align: left;
        margin: 0;
        padding: 0;
        font-size: 32pt;
    }
    .cardTextList > li {
        text-align: flex-start;
        list-style-type: disc;
    }
    .cardTextListTitle {
        text-align: flex-start;
        padding: 0;
        margin: 0;
        font-size: 18pt;
        margin-top: 2%;
    }
    #cardTitle {
     font-size: 18pt;
     color: black;
    }
    #cardText {
        font-size: 12pt;
        color: black;
    }
    #cardText1 {
        font-size: 12pt;
        color: black;
    }
    #cardBody {
        padding: 10px;
    }
    .videoCont {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        margin-bottom: 10%;
        margin-top: 24%;
        padding: 10px;
        display: none;
    }
    
    .isoBand {
        width: 70.5vw;
        background: white;
        height: 70px;
        z-index: 4;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        margin-top: 15%;
    }
    .ISO {
        width: 70px;
        height: 70px;
        display: flex;
    }
    .isoBand1 {
        width: 100%;
        background: white;
        height: 120px;
        z-index: 4;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px;
        border-radius: 10px;
    }
    .ISO1 {
        width: 65px;
        height: 65px;
        display: flex;
    }
    .ISO12 {
        width: 90px;
        height: 90px;
        margin-top: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .ISO11 {
        width: 65px;
        height: 65px;
        margin-top: 15px;
        border-radius: 10px;
    }
    .insulLink {
        margin-left: 10px;
    
    }
    
}
@media (min-width: 981px) and (max-width: 1280px){
    @keyframes fadeInAnimation {
        0% {
            transform: translate(0,-1000px);
        }
        100% {
            transform: translate(0,0);
            
        }
    }
    .ArchStepperPage {
        width: auto;
        height: auto;
        background: rgb(255, 255, 255);
        overflow: hidden;
        margin: 0;
    }
    .stepperimg {
        width: 100%;
        z-index: -10;
        height: 100vh;
        position: fixed;
    }
    .archStepper {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .archStepper1 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .archStepper2 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .img-containerHome {
        margin-top: 10rem;
        z-index: 1;
    }
    .stepperPage {
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        margin-top: 18%;
        margin-bottom: 30px;
    }
    .stepperPage1 {
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        margin-top: 18%;
        margin-bottom: 30px;
    }
    .stepperPage2 {
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        margin-top: 18%;
        margin-bottom: 30px;
    }
    .stepperPage > h1 {
        width: 100%;
        height: 5%;
        text-align: center;
        font-size: 26pt;
        letter-spacing: .2rem;
    }
    #cardDeck {
        width: 100%;
        height: auto;
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 10%;
        justify-content: flex-start;
        align-items: center;
        animation: fadeInAnimation 1s  0s 1 normal ;
    }
    #cardDeck1 {
        width: 100%;
        height: auto;
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 10%;
        justify-content: flex-start;
        align-items: center;
        animation: fadeInAnimation 1s  0s 1 normal ;
    }
    #cardDeck2 {
        width: 100%;
        height: auto;
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 10%;
        justify-content: flex-start;
        align-items: center;
        animation: fadeInAnimation 1s  0s 1 normal ;
    }
    .stepperCard {
        width: 70vw;
        height: max(20rem);
        background: white;
        
    }
    .stepperCard1 {
        width: 65vw;
        height: max(24rem);
        background: white;
        
    }
    .stepperCard2 {
        width: 65vw;
        height: max(24rem);
        background: white;
        
    }
    .stepperCard:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .stepperCard1:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .stepperCard2:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .cardImg {
        height: 14rem;
    }
    .cardImg1 {
        height: 14rem;
    }
    .cardImg2 {
        height: 14rem;
    }
    .cardLink:hover {
        color: inherit;
    }
    .cardLink {
        width: auto;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        margin-bottom: 7%;
    
    }
    #cardTextList {
        display: flex;
        background: blue;
    }
    .cardTextList > h5 {
        text-align: left;
        margin: 0;
        padding: 0;
        font-size: 32pt;
    }
    .cardTextList > li {
        text-align: flex-start;
        list-style-type: disc;
    }
    .cardTextListTitle {
        text-align: flex-start;
        padding: 0;
        margin: 0;
        font-size: 18pt;
        margin-top: 2%;
    }
    #cardTitle {
     font-size: 22pt;
     color: black;
    }
    #cardText {
        font-size: 13pt;
        color: black;
    }
    #cardText1 {
        font-size: 12pt;
        color: black;
    }
    #cardBody {
        padding: 10px;
    }
    .videoCont {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        margin-bottom: 10%;
        margin-top: 24%;
        padding: 10px;
    }
    
    .isoBand {
        width: 70.5vw;
        background: white;
        height: 70px;
        z-index: 4;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
    }
    .ISO {
        width: 70px;
        height: 70px;
        display: flex;
    }
    .isoBand1 {
        width: 100%;
        background: white;
        height: 120px;
        z-index: 4;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px;
        border-radius: 10px;
    }
    .ISO1 {
        width: 65px;
        height: 65px;
        display: flex;
    }
    .ISO12 {
        width: 90px;
        height: 90px;
        margin-top: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .ISO11 {
        width: 65px;
        height: 65px;
        margin-top: 15px;
        border-radius: 10px;
    }
    .insulLink {
        margin-left: 10px;
    
    }
    
}
@media (min-width: 1281px) and (max-width: 1680px){
    @keyframes fadeInAnimation {
        0% {
            transform: translate(0,-1000px);
        }
        100% {
            transform: translate(0,0);
            
        }
    }
    .ArchStepperPage {
        width: auto;
        height: 100vh;
        background: rgb(255, 255, 255);
        overflow: hidden;
    }
    .stepperimg {
        width: 100%;
        z-index: -10;
        height: 100vh;
        position: fixed;
    }
    .archStepper {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .archStepper1 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-containerHome {
        margin-top: 10rem;
        z-index: 1;
    }
    .stepperPage {
        width: 100%;
        height: 80%;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        margin-top: 6%;
        margin-bottom: 30px;
    }
    .stepperPage1 {
        width: 100%;
        height: 80%;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        margin-top: 6%;
        margin-bottom: 30px;
    }
    .stepperPage2 {
        width: 100%;
        height: 80%;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        margin-top: 5%;
        margin-bottom: 30px;
    }
    .archStepper2 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .stepperPage > h1 {
        width: 100%;
        height: 5%;
        text-align: center;

    }
    #cardDeck {
        width: 100%;
        height: 40%;
        z-index: 2;
        position: absolute;
        display: flex;
        margin: 0;
        margin-top: 5%;
        justify-content: center;
        animation: fadeInAnimation 1s  0s 1 normal ;
    }
    #cardDeck1 {
        width: 100%;
        height: 40%;
        z-index: 2;
        position: absolute;
        display: flex;
        margin: 0;
        margin-top: 2%;
        justify-content: center;
        animation: fadeInAnimation 1s  0s 1 normal ;
    }
    #cardDeck2 {
        width: 100%;
        height: 40%;
        z-index: 2;
        position: absolute;
        display: flex;
        margin: 0;
        margin-top: 1%;
        justify-content: center;
        animation: fadeInAnimation 1s  0s 1 normal ;
    }
    .stepperCard {
        width: 50vw;
        height: max(110%);
        background: white;
        
    }
    .stepperCard1 {
        width: 50vw;
        height: max(33rem);
        background: white;
        
    }
    .stepperCard2 {
        width: 50vw;
        height: max(25rem);
        background: white;
        
    }
    .stepperCard2:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .stepperCard:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .stepperCard1:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .cardImg {
        height: 60%;
    }
    .cardImg1 {
        height: 15rem;
    }
    .cardImg2 {
        height: 50%;
    }
    .cardLink:hover {
        color: inherit;
    }
    .cardLink {
        width: 33%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-self: center;
    
    }
    #cardTextList {
        display: flex;
        background: blue;
    }
    .cardTextList > h5 {
        text-align: left;
        margin: 0;
        padding: 0;
        font-size: 28pt;
    }
    .cardTextList > li {
        text-align: flex-start;
        list-style-type: disc;
    }
    .cardTextListTitle {
        text-align: flex-start;
        padding: 0;
        margin: 0;
        font-size: 16pt;
        margin-top: 2%;
    }
    #cardTitle {
     font-size: 20pt;
     color: black;
    }
    #cardText {
        font-size: 12pt;
        color: black;
    }
    #cardBody {
        padding: 10px;
    }
    .videoCont {
        width: 100%;
        height: 20%;
        bottom: 5rem;
        padding: 10px;
        position: absolute;
    }
    
    .isoBand {
        width: 70.5vw;
        background: white;
        height: 70px;
        z-index: 4;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
    }
    .ISO {
        width: 70px;
        height: 70px;
        display: flex;
    }
    .isoBand1 {
        width: 100%;
        background: white;
        height: 120px;
        z-index: 4;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px;
        border-radius: 10px;
    }
    .ISO1 {
        width: 65px;
        height: 65px;
        display: flex;
    }
    .ISO12 {
        width: 90px;
        height: 90px;
        margin-top: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .ISO11 {
        width: 65px;
        height: 65px;
        margin-top: 15px;
        border-radius: 10px;
    }
    .insulLink {
        margin-left: 10px;
    
    }
    
}
@media (min-width: 1681px){
    @keyframes fadeInAnimation {
        0% {
            transform: translate(0,-1000px);
        }
        100% {
            transform: translate(0,0);
            
        }
    }
    .ArchStepperPage {
        width: auto;
        height: 100vh;
        background: rgb(255, 255, 255);
    }
    .stepperimg {
        width: 100%;
        z-index: -10;
        height: 100vh;
        position: fixed;
    }
    .archStepper {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .archStepper1 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .archStepper2 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-containerHome {
        margin-top: 10rem;
        z-index: 1;
    }
    .stepperPage {
        width: 100%;
        height: 80%;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        margin-top: 5%;
        margin-bottom: 30px;
    }
    .stepperPage1 {
        width: 100%;
        height: 80%;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        margin-top: 5%;
        margin-bottom: 30px;
    }
    .stepperPage2 {
        width: 100%;
        height: 80%;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        margin-top: 5%;
        margin-bottom: 30px;
    }
    #cardDeck {
        width: 100%;
        height: 40%;
        z-index: 2;
        position: absolute;
        display: flex;
        margin: 0;
        margin-top: 5%;
        justify-content: center;
        animation: fadeInAnimation 1s  0s 1 normal ;
    }
    #cardDeck1 {
        width: 100%;
        height: 40%;
        z-index: 2;
        position: absolute;
        display: flex;
        margin: 0;
        margin-top: 1%;
        justify-content: center;
        animation: fadeInAnimation 1s  0s 1 normal ;
    }
    #cardDeck2 {
        width: 100%;
        height: 40%;
        z-index: 2;
        position: absolute;
        display: flex;
        margin: 0;
        margin-top: 1%;
        justify-content: center;
        animation: fadeInAnimation 1s  0s 1 normal ;
    }
    .stepperCard {
        width: 50vw;
        height: max(19rem);
        background: white;
        
    }
    .stepperPage > h1 {
        width: 100%;
        height: 5%;
        font-size: 28pt;
        letter-spacing: .2rem;
        text-align: center;
    }
    .stepperCard1 {
        width: 50vw;
        height: max(25rem);
        background: white;
        
    }
    .stepperCard2 {
        width: 50vw;
        height: max(18rem);
        background: white;
        
    }
    .stepperCard:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .stepperCard1:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .stepperCard2:hover {
        background: rgb(167, 167, 167);
        transition-duration: .3s;
        transform: scale(1.05);
    }
    .cardImg {
        height: 70%;
    }
    .cardImg1 {
        height: 15rem;
    }
    .cardImg2 {
        height: 50%;
    }
    .cardLink:hover {
        color: inherit;
    }
    .cardLink {
        width: 33%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-self: center;
    
    }
    #cardTextList {
        display: flex;
        background: blue;
    }
    .cardTextList > h5 {
        text-align: left;
        margin: 0;
        padding: 0;
        font-size: 32pt;
    }
    .cardTextList > li {
        text-align: flex-start;
        list-style-type: disc;
    }
    .cardTextListTitle {
        text-align: flex-start;
        padding: 0;
        margin: 0;
        font-size: 18pt;
        margin-top: 2%;
    }
    #cardTitle {
     font-size: 18pt;
     color: black;
    }
    #cardTitle1 {
        font-size: 18pt;
        color: black;
       }
    #cardText {
        font-size: 12pt;
        color: black;
    }
    #cardText1 {
        font-size: 12pt;
        color: black;
    }
    #cardBody {
        padding: 10px;
    }
    .videoCont {
        width: 100%;
        height: 25%;
        bottom: 5%;
        padding: 10px;
        position: absolute;
    }
    .isoBand {
        width: 70.5vw;
        background: white;
        height: 100px;
        z-index: 4;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
    }
    .ISO {
        width: 100px;
        height: 100px;
        display: flex;
    }
    .isoBand1 {
        width: 100%;
        background: white;
        height: 120px;
        z-index: 4;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px;
        border-radius: 10px;
    }
    .ISO1 {
        width: 100px;
        height: 100px;
        display: flex;
    }
    .ISO12 {
        width: 130px;
        height: 130px;
        margin-top: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .ISO11 {
        width: 100px;
        height: 100px;
        margin-top: 15px;
        border-radius: 10px;
    }
    .insulLink {
        margin-left: 10px;
    
    }
    
}

