.detailsPg {
    width: 100%;
    height: 100%;
    margin-top: 7%;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.detailsImg {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 0;
}
.detailsheader {
    text-align: center;
    width: 40%;
    height: 20%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.842);
    color: rgb(0, 0, 0);
    z-index: 1;
}
.detailsheader > h1 {
    color: rgb(0, 0, 0);
    margin-top: 4%;
}
.details-content {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-evenly;
    align-items: start;

}
.wallInsulation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Roofing {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}